<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Reva.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <targets>
      <target name="c" xsi:type="Console"  layout="${longdate} [${level}] ${callsite} ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="c" />
      <!-- 遅そうなのでコメント <logger name="*" minlevel="Debug" writeTo="c" /> -->
    </rules>
  </nlog>
</configuration>